[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
jupyter = "*"
jupyterlab = "*"
numpy = "*"
matplotlib = "*"
pandas = "*"
scikit-learn = "*"
appnope = "*"
imblearn = "*"

[dev-packages]

[requires]
python_version = "3.10"
